* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* .cube {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background-color: rgb(20, 20, 20);
    position: relative;
    transition: 0.4s;
    transition-delay: 1.3s;
}
.cube:hover{
    transform: rotate(45deg);
    border-radius: 50%;
    opacity: 0.5;
}
.cube>div {
    width: 80px;
    height: 80px;
    background-color: red;
    position: absolute;
    text-align: center;
    font-size: 40px;
    padding: 15px;
    transition: 0.4s;
}

.cube>div:first-child {
    top: 0;
    left: 0;
    transition-delay: .100s;
}

.cube>div:nth-child(2) {
    right: 0;
    top: 0;
    transition-delay: .300s;
}

.cube>div:nth-child(3) {
    top: 80%;
    right: 0;
    transition-delay: .600s;
}

.cube>div:last-child {
    top: 80%;
    left: 0;
    transition-delay: .900s;
}

.cube:hover>div:first-child {
    left: 80%;
}

.cube:hover>div:nth-child(2) {
    top: 80%;
}

.cube:hover>div:nth-child(3) {
    top: 80%;
    right: 80%;
}

.cube:hover>div:last-child{
    left: 0;
    top: 0;
} */
.pictures {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background-color: black;
    position: relative;
    transition: 0.5s;
}

.pictures>div {
    width: 80px;
    height: 80px;
    background-color: blue;
    position: absolute;
    padding: 15px;
    transition: 0.5s;
}

.pictures>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    transition: 0.5s;
}

.pictures>div:first-child {
    top: 0;
    left: 0;
    transition-delay: .100s;
}

.pictures>div:nth-child(2) {
    right: 0;
    top: 0;
    transition-delay: .300s;
}

.pictures>div:nth-child(3) {
    top: 80%;
    right: 0;
    transition-delay: .600s;
}

.pictures>div:last-child {
    top: 80%;
    left: 0;
    transition-delay: .800s;
}

.pictures:hover>div:first-child {
    left: 80%;
}

.pictures:hover>div:nth-child(2) {
    top: 80%;
}

.pictures:hover>div:nth-child(3) {
    top: 80%;
    right: 80%;
}

.pictures:hover>div:last-child {
    top: 0;
    left: 0;
}

.Menu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    overflow: hidden;
    animation: open 0.6s ease-in forwards;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.226);
    animation-delay: .200s;
}

@keyframes open {
    from {
        width: 80px;
        height: 80px;
    }

    to {
        width: 95%;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding: 20px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.623);
    }
}


.Menu ul {
    width: 100%;
    height: auto;
}

.Menu li {
    float: left;
    margin-left: 20px;
    overflow: hidden;
    transform: translateY(100px);
    opacity: 0;
    animation: show 0.4s ease-in forwards;
}

.Menu li:first-child {
    animation-delay: .300s;
}

.Menu li:nth-child(2) {
    animation-delay: .600s;
}

.Menu li:nth-child(3) {
    animation-delay: .900s;
}

.Menu li:last-child {
    animation-delay: 1.2s;
}

@keyframes show {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.Menu a {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: orange;
    color: white;
    text-decoration: none;
}
.product{
    width: 300px;
    height: 350px;
    background-color: blueviolet;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 40px 10px;
    border-radius: 15px;
    transition: 0.5s;
    margin-left: 530px;
}
.product:hover::before{
    transform: rotate(-30deg);
}
.product:hover .product_img img{
    transform: scale(1) rotate(10deg) translateY(-15px);
    filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.664));
}
.product_img{
    width: 80%;
    height: 250px;
    position: absolute;
    left: 10%;
    /* background-color: rgb(49, 14, 14); */
    background-position: center;
}
.product_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.2);
    transition: 0.5s;
    transition-delay: .350s;
    filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.288));
}
.product::before{
    content: " ";
    width: 250%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    background-color: rgb(1, 109, 204);
    left: -55%;
    top: -42%;
    transform: rotate(30deg);
    transition-delay: .150s;
}

.product_info{
    color: red;
    position: absolute;
    top: 70%;
    padding: 20px;
    transition: 0.5s;
    padding: 20px;
    transition-delay: .450s;

}
.product_info>div{
    margin-top: 5px;
}

.product_info button{
    padding: 10px 15px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 30px;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.4s;
    transition-delay: .900s;
}
.product_info p{
    transform: translateY(15px);
    transition: 0.4s;
    opacity: 0;
    transition-delay: .600s;

}

.product:hover .product_info{
    top: 50%;
}

.product:hover .product_info p{
    transform: translate(0);
    opacity: 1;
}
.product:hover .product_info button{
    transform: translateY(0);
    opacity: 1;
}



