* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    width: 300px;
    height: 350px;
    background-color: blue;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 50px 10px;
    border-radius: 15px;
    box-shadow:  0 10px 15px rgba(0, 0, 0, 0.363);
    transition: 0.4s;
}
.gallery:hover{
    transform: translateY(5px);
    box-shadow:  0 15px 20px rgba(0, 0, 0, 0.637);
}

.gallery_img {
    width: 100%;
    height: 100%;
    background-color: aqua;
    background-position: center;
}

.gallery_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.gallery::before {
    content: " ";
    width: 50%;
    height: 100%;
    z-index: 1;
    /* background-color: rgb(34, 34, 34); */
    backdrop-filter: blur(10px);
    position: absolute;
    transition: 0.4s;
    left: 0;
}
.gallery::after {
    content: " ";
    position: absolute;
    z-index: 1;
    width: 50%;
    transition: 0.4s;
    backdrop-filter: blur(10px);
    /* background-color: rgb(34, 34, 34); */
    height: 100%;
    top: 0;
    right: 0;
}
.gallery:hover::before{
    left: -100%;
}
.gallery:hover::after{
    right: -100%;
}
.gallery:hover .gallery_img img{
    transform: scale(1.3);
}
.gallery:hover .info{
    top: 70%;
}
.info{
    background-color: rgb(68, 68, 68);
    color: rgb(0, 204, 255);
    position: absolute;
    top: 100%;
    padding: 20px;
    transition: 0.4s;
    filter: blur(10px); */
    /* /* backdrop-filter: blur(10px); */
}